.Main{
  width: 100%;
  max-width: 1280px; 
  margin: 0 auto;     /* 중앙 정렬 */
  padding: 0 20px;
}

.main-fin{
  position: absolute;
  top: -70px;
  left: 130px;
  white-space: nowrap;
}

.main-image{
    width: 1280px;
    height: auto;
}

.Search{
  position: absolute;
  top: 27%;             /* 세로 중앙 */
  left: 44%;            /* 가로 중앙 */
  transform: translate(-50%, -50%); /* 완벽한 중앙 정렬 */
}

.search-button {
  background: transparent;      /* 투명 배경 */
  border: none;                /* 테두리 제거 */
  color: white;                /* 글씨 색 */
  font-size: 25px;
  font-weight: 700;
  padding: 10px 15px;          /* 버튼 내부 여백 */
  cursor: pointer;             /* 손가락 모양 */
}

.search-button:hover {
  opacity: 0.8;                /* 마우스 올리면 약간 투명해져서 느낌 좋음 */
}

.search-bar{
  position: absolute;
  background: rgba(0,0,0,0.5);
  border-radius: 15px;   /* ← 둥글게 만드는 코드 */
  padding: 20px 70px;
  top: 10px;
  
}

.search-ba{
  position: absolute;
  background: white;
  color: black;
  border-radius: 17px;   /* ← 둥글게 만드는 코드 */
  padding: 3px 30px;
  top: 10px;
  left: 520px;
  white-space: nowrap;   /* 줄바꿈 금지 */
  
}